.header .nav, .card__name {
  font-size: 12px;
  font-weight: 500; }

.header {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto auto;
  margin: 0 auto 50px;
  padding: 0 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .header__logoImg {
    width: 40px;
    height: 40px;
    vertical-align: middle; }
  .header .nav {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-column-gap: 20px;
    text-transform: uppercase;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
    .header .nav__item-link {
      padding: 23px 0;
      position: relative;
      text-decoration: none;
      line-height: 14px;
      font-style: normal;
      color: #000;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out; }
    .header .nav__item-link:hover,
    .header .nav .is-active {
      color: #00acdc; }
    .header .nav .is-active::after {
      content: "";
      position: absolute;
      border-radius: 8px;
      background-color: #00acdc;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 4px; }
    .header .nav__item-link:last-child {
      margin-right: 0; }

.header .nav, .card__name {
  font-size: 12px;
  font-weight: 500; }

.products {
  max-width: 944px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 50px 48px;
  margin: 0 auto; }

.card {
  width: 200px;
  padding: 14px;
  background: #ffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 45px;
    padding: 14px 0;
    border: 3px solid transparent;
    -webkit-transition: border, border-radius, ease-in-out, -webkit-transform 1s;
    transition: border, border-radius, ease-in-out, -webkit-transform 1s;
    transition: transform 1s, border, border-radius, ease-in-out;
    transition: transform 1s, border, border-radius, ease-in-out, -webkit-transform 1s; }
    .card__img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      border: 3px solid #f3f3f3;
      border-radius: 5px;
      cursor: pointer; }
  .card__name {
    line-height: 15px;
    margin: 0; }
  .card__code {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 16px; }
  .card__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .card__rating .stars {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 0;
      list-style-type: none;
      margin: 0; }
      .card__rating .stars__star {
        width: 15px;
        height: 15px;
        margin-right: 4px;
        background: url(../images/star.svg) no-repeat; }
    .card__rating .count {
      font-size: 11px;
      line-height: 13px;
      margin-left: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .card__price {
    margin: 18px 0 20px; }
    .card__price--text {
      font-size: 11px;
      line-height: 13px; }
    .card__price--amount {
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      float: right; }
  .card__purchace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #00acdc;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background-color, color, border, border-radius, 0.5s ease-in-out;
    transition: background-color, color, border, border-radius, 0.5s ease-in-out; }
    .card__purchace:hover {
      background-color: #fff;
      border: 1px solid #00acdc;
      border-radius: 5px;
      color: #00acdc; }

.star--1 .stars__star:nth-child(-n+1) {
  background: url(../images/star-active.svg) no-repeat; }

.star--1 .stars__star:nth-child(-n+1) {
  background: url(../images/star-active.svg) no-repeat; }

.star--2 .stars__star:nth-child(-n+2) {
  background: url(../images/star-active.svg) no-repeat; }

.star--1 .stars__star:nth-child(-n+1) {
  background: url(../images/star-active.svg) no-repeat; }

.star--2 .stars__star:nth-child(-n+2) {
  background: url(../images/star-active.svg) no-repeat; }

.star--3 .stars__star:nth-child(-n+3) {
  background: url(../images/star-active.svg) no-repeat; }

.star--1 .stars__star:nth-child(-n+1) {
  background: url(../images/star-active.svg) no-repeat; }

.star--2 .stars__star:nth-child(-n+2) {
  background: url(../images/star-active.svg) no-repeat; }

.star--3 .stars__star:nth-child(-n+3) {
  background: url(../images/star-active.svg) no-repeat; }

.star--4 .stars__star:nth-child(-n+4) {
  background: url(../images/star-active.svg) no-repeat; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0; }

/*# sourceMappingURL=main.css.map */
