.products {
  width: 944px;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 403px);
  gap: 50px 48px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.card {
  width: 200px;
  height: 403px;
  padding: 30px 14px 14px;
  background: #ffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 45px; }
  .card__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin: 0; }
  .card__code {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 16px; }
  .card__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .card__rating__rating-stars {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 0;
      list-style-type: none;
      margin: 0;
      padding-top: 1px;
      padding-left: 1px; }
      .card__rating__rating-stars .rating-star {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 15px;
        height: 15px;
        margin-right: 4px;
        background: url(../images/star.svg) no-repeat; }
      .card__rating__rating-stars .rating-star:nth-child(-n+4) {
        background: url(../images/star-active.svg) no-repeat; }
    .card__rating__rating-count {
      font-size: 11px;
      line-height: 13px;
      margin-left: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .card__price {
    margin: 18px 0 20px; }
    .card__price__text {
      font-size: 11px;
      line-height: 13px; }
    .card__price__amount {
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      float: right; }
  .card__purchace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #00acdc;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .card__purchace:hover {
      background: #fff;
      border: 1px solid #00acdc;
      border-radius: 5px;
      color: #00acdc; }

/*# sourceMappingURL=products.css.map */
